
/* structural rulesets */
form {
  margin: auto;
}

header {
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) ), url(images/bg1.jpg);
  background-size: cover;
  background-position: 15% 0%;
  background-attachment: scroll;
  padding:10px;
  margin-bottom: 13px;
  box-shadow: 0 0 10px black;
}

body {
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
  background-color:#F1C0B1;
  color: #0B4863; 
  font-size:16px;
}

footer {
  background: linear-gradient( to bottom, rgba(213, 102, 75, 0.5), rgba(213, 102, 75, 0.2) );
  padding-top: 20px;
  bottom: 0;
  width: 100%;

}

/* text characteristics */
h1 {
  color: white;
}

h3 {
  color:#0B4863;;
  //font-size:16px;
  text-align:left;
}

h4 {
  color: white;
  //font-size:16px;
}

/* other element characteristics */

a {
  color: inherit;
  text-decoration: none;
}
a, 
button, 
{
  cursor: pointer;
}

i {
  padding: 2px;
}

input {
  border: none;
  display:inline-block;
  overflow:auto;
  width:100%;
  border-bottom: 3px solid ghostwhite;
  border-radius: none;
  padding: 8px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  background: none;
  width: 50%;
}

.row {
  margin-bottom: 13px;
}

.newsearchrow {
  vertical-align:middle;
}

iframe {
  overflow:auto;
}

/* icon rulesets */

.fas {
  font-size: 25px;
  height: 20px;
  width:20px;
  margin-right:10px;
  position: relative;
  padding-right:3px;
  padding-left:4px;
  text-align:left;
  cursor:pointer;
  
}

.fa-angle-double-down, 
.fa-angle-double-up {
  margin-top:15px;
  color:  #0B4863;
}
.fa-search {
  color:  #a54132;
}


.fa-kiwi-bird:before {
  content: "\f535";
  height:20px;
  width:20px;
  padding-right:3px;
}

.fas {
  font-size: 25px;
  height: 20px;
  width:20px;
  margin-right:10px;
  position: relative;
  padding-right:3px;
  padding-left:4px;
  text-align:left;
}



#wrapper {
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
  padding: none;
}

.hidden {
  display:none;
}

/* pseudo-classes */

*:focus {
  outline:none;
}

/* other classes and ids:  header area */

.banner {
  text-align:center;
}

.tagline {
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 0 3px #777777;
  padding-bottom: 20px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.js-search-form {
  margin-left: auto;
  margin-right:auto;
}

#js-searchfield {
  width:90%;
}

.definition {
  background:#0B4863;
  text-align: center;
  margin:20px 5px 50px 5px;
  color:white;
  padding:20px;
 }

 .verbage { 
  width:100%;
  font-size:16px;
}

 .get-the-book-btn {
   border-style:outset;
   border: 3px solid  #9BAA37;
   background-color: #BEB968;
   color: white;
   text-shadow: 0 0 3px #555555;
   text-align:center;
   padding: 0px 25px 10px 25px;
 }

 .get-the-book-logo {
   border-style:outset;
   border: 3px solid  #9BAA37;
   background-color: #BEB968;
   height: 50px;
   width: 170px;
   margin:auto;
   color: white;
   text-shadow: 0 0 3px #555555;
   text-align:center;
   padding: 10px 10px 10px 10px;
 }

.headerinfo {
  //font-size: 16px;
  text-align: center;
  padding-bottom:3px;
}

.logo { 
  float: none;
  width:auto;
  text-align:center;
  padding-top:12px;
  padding-left:none;
}
/*
.get-the-book-logo {
  padding: 13px 25px 10px 25px;
}
*/


/* other classes and ids:  data areas */
.scroll-for-details {
  display:block;
  color:#0B4863;
  padding-top:15px;
  padding-bottom:2px;
}

.title-style {
  padding: 5px;
  margin-bottom:10px;
  text-align:center;
  //font-size:16px;
  color:white;
} 

.boxshadow {
  box-shadow: 1px 1px 5px #777777; 
  background-color:white;
  overflow:auto;
  padding:3px;
}

.boxtitle {
  box-shadow: 1px 1px 5px #777777;
  border-width: 2px;
  background-color: #BEB968;
  padding:2px;
  margin:0 0 15px 0;
}

.nav-buttons {
  padding-top:10px;
}

.appicons {
  padding-right:5px;
  width:40px;
  display:inline-block;
  vertical-align:middle;
}

.titleverbage {
  display:inline-block;
  vertical-align:middle;
  //font-size:16px;
  text-align:center;
}

.scroll-for-details {
  display:none;
}

.back-to-list,
.nextlist,
.search-again {
  text-align:center;
  padding-top:10px;
  color:#0B4863;
}

.search-again {
  padding-right:20px;
}




/* data areas:  google data */

/* book list */
.book {
  float:left;
  width:100%;
  border-bottom:1px lightgray solid;
  margin-bottom:10px;
  padding:3px;
}
.listofbooks {
  height:250px;
  float:left;
  overflow:auto;
  border:1px inset #0B4863;
  padding:3px;

}
.listofbookstable {
  display:table;
  width:100%;
  text-align:left;
  margin:.5%;
}

.bookthumbtable-cell {
  display:none;
}

.listofbookstable-cell {
  width:100%;
  display:inline-block;
  text-align:center;
}

.listofbooksthumb {
  display:none;
}

.js-itemid {
  display:none;
}

/* styles for individual book display */

.indbookthumbtable-cell {
    display:none;
   
  }
.indbooktable-cell {
  width:100%;
  display:inline-block;
  padding-left:none;
}


.slidedown {
  width:100%;
  float:none;
}

.othertitle {
  clear:both;
  position:static;
}

.resultbody {
  font-size: 16px;
  padding-bottom:2px;
}

.purchasedata {
  margin-bottom: 20px;
  margin-top:10px;
  margin-left:20px;
  //font-size:16px;
}



.headerinfo {
  //font-size: 16px;
  text-align: center;
  padding: 0 0 10px 0;
  color:  #a54132;
  overflow:auto;
}



.bookthumbtable-cell {
  display:table-cell;
  width:33.33%;
  vertical-align:middle;
}

/* individual book */
.indbookheaderinfo {
  display:inline-block;
  //font-size: 16px;
  text-align: left;
  padding: 0 0 10px 10px;
  color:  #a54132;
}



.indbookbodyinfo {
  float:left;
  padding:5px 10px 5px 12px;
}

.saleprice {
  font-weight:600;
}

.read {
  color:#0B4863;
  font-weight:bold;
  margin-top:10px;
}

.purchasedata {
  margin-bottom: 20px;
  margin-top:10px;
  margin-left:20px;
  //font-size:16px;
}


.resultbody {
  font-size: 16px;
  padding-bottom:3px;
  text-align:left;
}
/*
.otherdata {
  font-size:16px;
}
*/
.title-style-1 {
  font-size:16px;
  font-weight:bold;
  padding:0 3px 5px 0;
  width:100%;
  text-align:center;
}

.author-name-style {
  font-weight: bold;
  width:100%;
}

.pub-style {
  padding:0 3px 5px 0;
  width: 100%;
}

.pubwords, .genwords, .ratingwords {
  float:left;
  font-weight:bold;
  padding-right:5px;
}

.pubdata, 
.gendata, 
.ratingdata {
  padding-right:5px;
  text-align:left;
}

.desc-style {
  font-size: 16px;
  color:  #0B4863;
  margin-top:5px;
  text-align:left;
}

/* data area:  youtube */
.ytdesc-style {
  margin-bottom: 10px;
}

.nextyt,
.nextnews {
  display:none;
  //font-size:16px;
  color: #0B4863;
}

/* data area:  wiki */
.wikiimg {
  width:100%;
  height:100%;
  margin-bottom:5px;
}

.wikiimg img {
  margin: 0 auto;
  display: block;
}

.pagecount {
  padding-bottom:3px;
}


/* other classes: body - youtube area */
.js-youtube {
  width: 100%;
}


.tophalf {
  margin-top:50px;
  text-align:center;
}

/* Footer rules */

.footerbox {
  display:table;
  padding-bottom: 1px; 
  padding-top:3px;
  height:50px;
  float:left;
  width:100%;
  transition: color 0.25s linear;
  position: relative;
}

.share {
  text-align:left;
  font-size:16px;
}

.searchagain {
  width:50%;
  position:absolute;
  font-size:16px;
}

.searchagain, .companylogo {
  display:inline-block;
  text-align:center;
  width:100%;
  position:unset;
}


.searchagain {
  padding-bottom:5px;
  border-bottom:1px solid #a54132;
  padding-bottom:5px;
}

.sharebuttons {
  width:100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.topbox {
  border-bottom: 1px solid #a54132;
  margin-bottom: 8px;

}

#searchdoubleup, #searchsearch, #searchwords, #cowords, #cologo {
  display: inline-block;
  vertical-align: middle;
}

#builtby {
  color:#a54132;
  font-size:16px;
}

#footerdetail {
  position: absolute;
  bottom:0;
}

  


/** ONLY TABLET **/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size:20px;
  }

  h1 {
    color: white;
    font-size:40px;
  }
  
  h3 {
    color:#0B4863;;
    text-align:left;
  }
  
  h4 {
    color: white;
  }

  #js-searchfield {
    width:75%;
  }

  footer {
    display:none;
  }

  /* list of books */

  .indbookthumbtable-cell {
    display:table-cell;
    vertical-align:top;
    width:15%;
   
  }
  .indbooktable-cell {
    display:table-cell;
    vertical-align:top;
    width:85%;
    padding-left:10px;
  }
  .book {
    float:left;
    width:50%;
    padding:3px;
    max-height:240px;
  }
  .listofbookstable {
    display:table;
    width:100%;
    text-align:left;
    margin:.5%;
  }
  .listofbookstable-cell {
    display:table-cell;
    width:66.66%;
    padding-left:6px;
  }
  .listofbooksthumb {
    display:inline-block;
    height:192px;
    width:128px;
  
  }

  
  
}



/** DESKTOP & FORWARD **/

@media only screen and (min-width: 991px) {
  
  /* element changes */
  body {
    font-size: 30px;
  }

  header {
    padding: 20px 0;
  }

  input {
    display:inline-block;
    overflow:auto;
  }

  /* hover elements and other pseudo-classes */

  #builtby:hover {
    color:  #F1C0B1;
  }
  
  .read:hover, .linktobuy:hover {
    color: #a54132;
  }

  .book:hover {
    cursor:pointer;
    background-color:lightgray;
  }
  
  .fa-angle-double-down:hover {
    color: #9BAA37;
  }

  .fa-search:hover{
    color:  #F1C0B1;
  }

  .fa-kiwi-bird:before {
    content: "\f535";
    height:20px;
    width:20px;
    padding-right:3px;
  }

  *:focus {
    outline:none;
  }

  .dataitem:hover, .youtubeitem:hover {
    background-color:lightgray;
  }
  
  
  .get-the-book-btn:hover{
    border-style:outset;
    border: 3px solid  #BEB968;
    background-color: #9BAA37;
    color: white;
    text-shadow: 0 0 3px #555555;
    text-align:center;
    padding: 0px 25px 10px 25px;
  }

  .nextyt:hover, 
.nextnews:hover, 
.nextwiki:hover, 
.back-to-list:hover,
.nextlist:hover,
.search-again:hover {
  cursor:pointer;
  color:orange;
}


  /* primary style classes */

  .boxshadow {
    padding:3px;
  }

  .boxshadow {
    box-shadow: 1px 1px 5px #777777; 
    background-color:white;
    overflow:auto;
    padding:10px;
  }

  .boxtitle {
    padding:5px;
    margin:0 0 10px 0;
  }

  
  
  
  .verbage {
    position:relative;
    padding-top: 10px;
    position:relative;
    color: white;
    padding: 2%;
  }

  /* titles */
  
  .overviewitem {
    padding-left:3px;
    padding-right:3px;
  }
  
  .overviewdetail {
    float: left;
  }
  
  .title-style {
    display:table;
    text-decoration: none;
    display: block;
    text-align:right;
    color:white;
    position:relative;
    height: 90px;
  } 

  .othertitle {
    display:table-cell;
    float:right;
    position:absolute;
    top:0;
    right:0;
  }
  
  .footerboxtitle {
    box-shadow: 1px 1px 5px #777777;
    border-width: 2px;
    background-color: #BEB968;
    padding:5px;
    margin:0 0 10px 0;
    height:25px;
    display:table;
    text-decoration: none;
    text-align:right;
    color:white;
    position:relative;
    font-size:16px;
    width:100%;
  }
  
  
/* specialty styles */

/* introductory search screen */
.logo {
  float: left;
  width:25%;
  position:relative;
  padding-top:3%;
  padding-left:5%;
  padding-bottom:5%;
}

.banner {
  text-align:right;
  margin-top:150px;
}

.definition {
  overflow:auto;
  float:right;
  position:relative;
  margin: 50px 0 50px 150px;
  text-align:right;
}

.tophalf {
  text-align:right;
}

/* api data */

.dataitem, .newsitem, .youtubeitem {
  border-bottom:1px inset #0B4863;
  padding-bottom: 8px;
  padding:8px;
  }

.results {
  margin: 0 2%;
  padding-top:2%;
  }
  
  
  
  
  
  .otherinfo {
  text-align: left;
  padding: 10px 3px 10px 10px;
  color:  #a54132;
  font-size:16px;
  
  }

/* api data: Google Books */

/* Google Books:  tables and cells*/
.book {
  float:left;
  width:50%;
  padding:3px;
  max-height:240px;
}

.indbookthumbtable-cell {
  display:table-cell;
  vertical-align:top;
  width:15%;
}

.indbooktable-cell {
  display:table-cell;
  vertical-align:top;
  width:85%;
  padding-left:10px;
}
.listofbookstable-cell {
  display:table-cell;
  width:66.66%;
  padding-left:6px;
}
.listofbooksthumb {
  display:inline-block;
  height:192px;
  width:128px;
}

.listofbookstable {
  display:table;
  width:100%;
  text-align:left;
  margin:.5%;
}
.listofbookstable-cell {
  display:table-cell;
  width:66.66%;
  padding-left:6px;
}
.listofbooksthumb {
  display:inline-block;
  height:192px;
  width:128px;

}

.listofbooks {
  height:250px;
  float:left;
  overflow:auto;
  border:1px inset #0B4863;
  padding:3px;
  
  }

.saleprice, .linktobuy {
    color:#0B4863;
}

.itemid {
  display:none;
  }
  

/* api data: Youtube */
.myVideo {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.videoItem {
padding-bottom: 8%;
border-bottom: 1px inset #0B4863;
}

.resp-iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
}



.back-to-list,
.nextlist,
.search-again {
  font-size:16px;
  text-align:right;
}





  /* tables and cells */

  

/* fontawesome icons and other flourishes */

.fa-search {
  color:  #a54132;
}


.slidedown {
  float:left;
  display:table-cell;
  width:15%;
  height:100%;
  text-align:left;
  animation-name: slidedown;
  animation-duration: 4s;
  position:relative;
}

.slidedown:hover {
  cursor:pointer;
}

@keyframes colorchange {
  0%   {color:#9BAA37}
  50%  {color: #0B4863;}
  100% {color:#BEB968}
}

.fa-angle-double-down, .fa-angle-double-up {
  animation-name: colorchange;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.fa-angle-double-down, 
.fa-angle-double-up {
  margin-top:15px;
  color:  #0B4863;
  -webkit-transition-property: color;
     -moz-transition-property: color;
       -o-transition-property: color;
          transition-property:color;
  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
      -o-transition-duration: .5s;
         transition-duration: .5s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

}

.fa-angle-double-down:hover {
  color: #9BAA37;
}









 




}

